@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
   margin:0;
    color:black;
}

body{
    font-size: medium;
    background-color: white;
    font-family: 'poppins';
}

.container{
display: flex;
flex-direction: row;
flex-grow: 2;
justify-content:space-between;
width:auto;

}


header{
    background-color: white;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
    height: 80px;
    width: auto;
    
}
/* main section styling  */

main{
    height: 1000px;
    background-color: aliceblue;
}

.log-container{
    padding-top: 50px;
    padding-left: 400px;
    padding-right: 400px;
   padding-bottom: 10px;
}
.log{
    width:500px;
    height:700px;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
}
.content{
    padding-top: 5px;
}


















.button{
padding-top: 20px;
background-color:white;
height: 140px;
padding-left: 350px;
padding-right: 200px;
}

.grey-button{
    padding-top: 5px;
   
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 5px;
    width:800px;
    height: 80px;
    background-color: rgb(27, 149, 190);
}
.login{
    text-decoration: solid;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    border: none;
    color: white;
    background-color: rgb(27, 149, 190)  ;
    font-size:medium;
    width: 50px;
}

.center-img{
    text-align: center;
}

.center-text{
    text-align: center;
}




/* footer section styling  */
.white-line{
    width: 1200px;
    height: 3px;
    background-color: white;
}

.container4{
    background-color: black;
    margin-top: 20px;
   width:100%;
}
.container5{
    margin-left:200px ;
    margin-right:200px ;
}

.section{
    margin-left: 0;
    margin-right: 0;
}

.white-links{
    color: white;
}

.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.blue-text{
    color: aqua;
}

.grey-text{
    color: gray;
}

.white-text{
    color: white;
}

.icon-white{
    color: white;
    width: 40px;
    height: 40px;

}
  














































